//default colors
$black: #000;
$white: #fff;

//custom primary colors
$primary: #455a64;
$primary-light: #718792;
$primary-dark: #1c313a;
$primary-text: #f5f5f5;

//custom secondary colors
$secondary: #ef5350;
$secondary-light: #ff867c;
$secondary-dark: #b61827;
$secondary-text: #212121;

//background colors
$main-bg: #E1E2E1;
$light-bg: #F5F5F6;




$mainColor: #f424f2; //purple

$blue: #6da4eb;
$darkBlue: #4094ff;

$gray: #DDD;
$darkGray: #808080;

$gold: #fbc02d;

