@import '__variables.scss';
@import '__mixins.scss';

//Common styles

html {
  height: 100%;
}

ul {
  padding-inline-start: 0;
}

h1 {
  font-size: 1.6em;
  margin: 30px 0;

  @media screen and (max-width: 450px) {
    font-size: 1.4em;
  }
}

body {
  font-family: 'MuseoSansBold';
  color: $secondary-text;
}

.wrapper {
  width: 70vw;
  margin: 0 auto;
}

.initializing {
  @include flexColumn;
}

.modalImg {
  @include wh(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: black;

  &-image {
    margin: auto;
    width: auto;
    height: 100%;

    @media screen and (max-width: 415px) {
      width: 100vw;
      height: auto;
    }
  }
}

//.error__message {
//  font-size: 14px;
//  padding-bottom: 20px;
//  color: $secondary-dark;
//}

//.all__message {
//  font-size: 14px;
//  padding-bottom: 20px;
//  color: green;
//}

.feedback__textarea {
  height: 28vh;
  font-size: 17px;
}

.yandex__pay {
  margin-top: 40px;
  width: 50vw;
  height: 50vh;
  min-width: 350px;
}

//For span

.blue {
  color: blue;
}

.red {
  color: red;
}

.gold {
  color: $gold;
}

.secondary {
  color: $secondary;
}

.primaryDark {
  color: $primary-dark;
}

.all__button {
  @include links(.2s all, $primary-text);
  padding: 0 15px;
  height: 30px;
  font-family: 'MuseoSansBold';
  border: 2px solid $primary-dark;
  border-radius: 20px;
  background: $light-bg;
  outline: none;
  margin: 5px 0;
  min-width: 170px;
  transition: 0.3s all;
  cursor: pointer;

  &:hover, &:active, &:focus {
    background: $primary;
  }

  &-download {
    margin-top: 50px;
    background: $primary;
    color: $primary-text;

    &:hover, &:active, &:focus {
      background: $primary-text;
      color: $primary-dark;
    }
  }
}

.all__input {
  @include wh(25vw, 30px);
  border: 2px solid $main-bg;
  outline: none;
  margin-bottom: 15px;
  min-width: 170px;
  padding-left: 10px;
  transition: 0.3s all;

  &:hover {
    border: 2px solid $primary;
  }

  &:focus {
    border: 2px solid $blue;
  }
}

//Header styles start

.header {
  @include flex;
  @include wh;
  @include bg($primary-dark);
  z-index: 998;
  padding: 10px;

  &__section-left, &__section-right {
    @include flex {
      text-align: left;
    }
  }
  &__section-right {
    @media screen and (max-width: 820px) {
      padding-right: 25px;
    }
    .active {
      color: $secondary;
    }
    a {
      @include links(.2s all, $secondary);
    }
    ul {
      margin: 0 10px 0 0;
    }
    nav {
      @media screen and (max-width: 820px) {
        display: none;
      }
    }
  }
  &__item {
    padding: 10px 15px;
    margin: 0 10px;
    a {
      color: $primary-text;
    }
  }
  &__logo {
    font-size: 1.7em;
    &:hover {
      cursor: pointer;
    }
  }
}

.dropdown {
  :first-child {
    margin-top: 15px;
  }
}

//Header styles end

//Main styles start

.main {
  @include flexColumn;
  @include wh;
  flex-grow: 1;

  &__form {
    @include flexColumn;
    @include wh(30vw);
    border: 2px solid $main-bg;
    padding: 20px;
    margin: 5vh 2vh 2vh;
    min-width: 300px;

    @media screen and (max-width: 500px) {
      border: 0;
      padding: 0;
      margin: 5vh 0 0;
    }

    &-title {
      padding-bottom: 20px;
      font-size: 24px;
      color: $secondary-text;

      @media screen and (max-width: 500px) {
        padding-bottom: 0;
      }
    }

    &-input {
      @include wh(25vw, 30px);
      border: 2px solid $main-bg;
      outline: none;
      margin-bottom: 15px;
      min-width: 170px;
      padding-left: 10px;
      transition: 0.3s all;

      &:hover {
        border: 2px solid $primary;
      }

      &:focus {
        border: 2px solid $blue;
      }
    }

    &-textarea {
      @include wh(25vw, 80px);
      font-family: Arial;
      border: 2px solid $main-bg;
      outline: none;
      margin-bottom: 15px;
      min-width: 170px;
      padding: 5px 0 0 10px;
      transition: 0.3s all;

      &:hover {
        border: 2px solid $primary;
      }

      &:focus {
        border: 2px solid $blue;
      }
    }

    &-button {
      @include wh(15vw, 30px);
      font-family: 'MuseoSansBold';
      border: 2px solid $main-bg;
      outline: none;
      margin-bottom: 15px;
      min-width: 170px;
      transition: 0.3s all;
      cursor: pointer;

      a {
        color: $secondary-text;
      }

      &:hover {
        border: 2px solid $primary-dark;
      }

      &:active {
        color: $primary-light;
      }

      &:focus {
        border: 2px solid $primary-light;
      }
    }

    &-forgot {
      margin-bottom: 15px;
      color: $secondary-text;
      transition: 0.3s all;

      &:hover, &:active, &:focus {
        color: $primary-light;
      }
    }
  }

  &__wrapper {
    @include flex {
      justify-content: center;
    }

    &-weather {
      @include flex;
      justify-content: center;
      flex-wrap: wrap;
      @include wh(100%);
      margin: 0 auto;

      &-block {
        @include flexColumn;
        display: flex !important;
        height: 310px;
        padding: 10px 0;

        img {
          display: inline-block;
        }

        h3 {
          font-size: 1.7em;
          margin: 0;
          color: $primary-dark;
          width: 100px;
        }

        div {
          @include flexColumn;
          justify-content: flex-start;
          p {
            margin: 0 0 15px;
          }
        }

        &-right {
          @include flexColumn;
          align-items: center;
          &_temp {
            @include flex;
            font-size: 3em;
            margin: 0;
          }
          &_info {
            @include wh(100px)
          }
          &_wind {
            @include flex;
          }
          &_miniIcon {
            @include wh(35px, 35px);
            margin: 0 10px;
          }
        }
      }
    }

    &-items {
      @include flex;
      @include wh;
      flex-flow: row wrap;
    }

    &-item {
      @include flexColumn;
      @include wh(70vw);
      margin: auto;
      max-width: 800px;
      padding-top: 2vh;
      transition: .3s all;

      &-photo {
        @include wh(45vw);

        @media screen and (max-width: 1024px) {
          width: 100%;
        }
      }

      &-ava {
        @include wh(100px, 100px);
        padding: 0 20px;
      }

      &-block {
        @include flex;
        @include wh;
        justify-content: flex-start;
        background: $primary-text;
        border-radius: 20px;
        border: 2px $primary-dark solid;
        padding: 10px 0;

        @media screen and (max-width: 820px) {
          @include flexColumn;
        }

        &_right {
          @include flexColumn;
          align-items: flex-start;
          padding: 0 20px;

          @media screen and (max-width: 820px) {
            margin-top: 15px;
            align-items: center;
          }

          div {
            @include flexColumn;
            align-items: flex-start;

            @media screen and (max-width: 820px) {
              align-items: center;
            }
          }
        }

        h4 {
          font-size: 18px;
          color: $secondary-text;
          margin: 5px 0 10px;

          @media screen and (max-width: 820px) {
            margin: 5px 0 0;
          }
        }
      }

      &:not(:first-child) {
        margin-top: 6vh;

        @media screen and (max-width: 820px) {
          margin-top: 2vh;
        }
      }

      //img {
      //  @include wh(60vw);
      //}

      &_img {
        min-height: 400px;
      }

      h3 {
        @include att($secondary-text, 1.4em, 4vh);
      }

      p {
        @include att($darkGray, 1em, 5px);
        margin: 5px 0;
      }

      span {
        @include att($secondary, 1em, 2vh);
      }

      a {
        @include links(.3s all, $secondary-light);
        margin: 5px 0;
        color: $secondary;
      }
    }
  }
}

// About styles start

.about {
  &__wrapper {
    @include flexColumn;
    align-items: flex-start;
    border-left: 2.5px solid $primary-dark;

    @media screen and (max-width: 1024px) {
      border: 0;
    }
    &-text {
      font-size: 1.3em;
      line-height: 1.5em;
      word-spacing: 0.1em;
      padding: 0 20px;
      text-align: left;
      &:not(:first-child) {
        margin: 35px 0 0px;
      }
      &:first-child {
        margin: 0;
      }

      @media screen and (max-width: 1024px) {
        padding: 0;
      }
    }
    &-block {
      @include flexColumn;
      &_img {
        @include wh(100%);
        padding: 0 20px;
        margin: 35px 0 0;

        @media screen and (max-width: 1024px) {
          padding: 0;
        }
      }
      &_span {
        font-size: 0.85em;
        color: $darkGray;
        padding: 0 20px;
        margin-top: 10px;
      }
    }
  }
}

//About styles end

.weather {
  &__wrapper {
    &-links {
      @include flex;
      .active {
        background: $main-bg;
      }

      @media screen and (max-width: 580px) {
        flex-wrap: wrap;
      }

    }
    &-link {
      @include wh(20%);
      @include links(.2s all, $primary);
      color: $secondary-text;
      border-radius: 20px 20px 0 0;
      padding: 7px 15px;
      background: $light-bg;
      transition: .3s all;
      &:hover, &:focus, &:active {
        cursor: pointer;
      }

      @media screen and (max-width: 580px) {
        border-radius: 0;
        width: 35%;
        margin-bottom: 7px;
      }
    }
    &-qwe {
      background: $main-bg;
      border-radius: 0 0 20px 20px;
      padding: 30px 50px;

      @media screen and (max-width: 580px) {
        border-radius: 0;
      }
    }
    &-content {
      @include flexColumn;
      align-items: flex-start;
    }
    &-block {
      @include flex;
      justify-content: center;
      &_temp {
        font-size: 3em;
        margin: 0;
      }
      &-left {
        @include flex;
      }
      &-right {
        text-align: left;
      }
      &-pressure, &-humidity, &-wind {
        @include flex;
        text-align: left;
      }

      @media screen and (max-width: 820px) {
        @include flexColumn;
        align-items: flex-start;
      }
    }
    &-down {
      @include flex;
      div {
        margin-right: 40px;

        @media screen and (max-width: 820px) {
         margin: 0;
        }
      }

      @media screen and (max-width: 820px) {
        @include flexColumn;
        align-items: flex-start;
      }
    }
    &-miniIcon {
      @include wh(35px, 35px);
      margin-right: 10px;
    }
    &-icon {
      border-radius: 20px;
      margin: 0 20px;

      @media screen and (max-width: 820px) {
        margin: 0;
      }
    }
  }
}

//Main styles end

//Yandex map styles start

iframe {
  @include wh(75vw, 75vh);
  border: 2px solid $primary-dark;
  margin: 0px 5px;
}

//Yandex map styles end

//News styles start

.news {
  &__wrapper {
    @include flexColumn;
    @include wh(70vw);
    text-align: left;
    margin: auto;
    max-width: 800px;
    padding-top: 2vh;
    transition: .3s all;

    &-time {
      @include att(blue, 1.4em, 4vh);
      margin-block-start: 1em;
      margin-block-end: 1em;
    }

    &-keys {
      @include att($secondary, 1em, 2vh);
      @include links(.3s all, $secondary-light);
    }

    &-newsBlock {
      align-items: flex-start;
      &_title {
        @include att($secondary-text, 1em, 5px);
      }
      &_text {
        @include att($primary, 1em, 5px);
      }

      p {
        margin: 5px 0;
      }
    }
  }
}

//News styles end

//Top link styles start

#top-link {
  @include tl(0, 0);
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 1;
  padding: 0;
  background: #EFD9ED;

  a {
    display: block;
    margin-top: 5vh;
    margin-left: 1vw;
    color: #808080;
  }

  &:hover, &:focus {
    background: #EF9DED;
  }

  &:active {
    background: #e394e1;
  }
}

//Top link styles end

//Footer styles start

.footer {
  @include flex {
    justify-content: center;
  }
  @include wh;
  flex-shrink: 0;
  margin: auto;
  padding: 100px 5px 30px;

  span {
    padding: 7px 20px;
    background-color: $primary;
    color: $primary-text;
    border-radius: 100px;

    @media screen and (max-width: 1024px) {
      background-color: transparent;
      color: $primary-dark;
    }
  }
}

//Footer styles end

//Homepage Links styles start

.homepageLinks__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  padding-top: 20px;
  width: 100%;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  a {
    text-decoration: none;
    color: $secondary-text;
  }

  &-item {
    @include flexColumn;
    justify-content: center;
    padding: 30px 40px;
    background: $light-bg;
    //border: 3px dashed $primary-dark;
    border-radius: 15px;
    min-width: 200px;
    max-width: 250px;
    margin: 10px 10px;
    transition: .2s all;
    &:hover, &:active, &:focus {
      background: $main-bg;
      //border: 3px solid $secondary-text;
      img {
        background: $primary-text;
      }
    }
    &_icon {
      @include wh(100px, 100px);
      border-radius: 20px;
      padding: 10px;
      margin-bottom: 10px;
    }
    &_title {
      margin: 0;
    }
  }
}

//Homepage Links styles end

.wrapper__profile {
  @include flex;
  justify-content: flex-start;
  align-items: flex-start;

  &-picture {
    @include wh(200px, 200px);
    border-radius: 300px;
    border: 3px $primary solid;
    margin-bottom: 20px;
  }

  &-photo {
    @include flexColumn;
  }

  &-desc {
    text-align: left;
    margin-left: 50px;

    &_usernameBlock {
      @include flex;
      justify-content: flex-start;
    }

    &_button {
      margin: 0 0 0 12px;
      padding: 0;
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }

    &_icon {
      width: 20px;
      height: 20px;
    }

    &_userName {
      color: $secondary;
      margin: 10px 0;
    }

    &_userNameInput {
      @include wh(15vw, 25px);
      padding: 0 0 0 10px;
      margin: 10px 0;
      border: 2px solid $main-bg;
      outline: none;
      min-width: 170px;
      transition: 0.3s all;

      &:hover {
        border: 2px solid $primary;
      }

      &:focus {
        border: 2px solid $blue;
      }
    }

    &_email {
      color: $primary;

      &:before {
        content: 'Email: ';
        color: $primary-light;
      }
    }
  }
}

//Homepage Links styles end

// @media (min-width: 768px) {
//     .content {
//         display: flex;
//         text-align: center;
//         align-items: center;
//         flex-direction: column;
//         margin: 0 auto;
//         height: auto;
//         width: 85vw;
//         color: #000;
//         font-family: 'MuseoSansBold';
//     }

//     .footer {
//         display: flex;
//         justify-content: center;
//         width: 100%;
//         height: auto;
//         margin-top: auto;
//         padding-top: 100px;
//         padding-bottom: 30px;
//         color: #000;
//         font-family: 'MuseoSansBold';
//     }

//     a:hover {
//         color: #fff;
//     }


//     .header__button {
//         cursor: pointer;
//     }

//     img {
//         width: auto;
//         overflow: hidden;
//         height: 30vh;
//         padding: 5vh;
//     }

//     .photo {
//         display: flex;
//         font-size: 16px;
//         justify-content: space-between;
//         flex-direction: column;
//         align-items: center;
//         margin: 0 auto;
//         width: 50vw;
//         max-width: 800px;
//         padding-top: 2vh;
//         color: #000;
//         text-align: center;
//     }

//     .little {
//         color: #808080;
//         font-size: 12px;
//         margin-top: 2vh;
//     }

//     .address {
//         color: #DAA520;
//         font-size: 12px;
//         margin-top: 2vh;
//     }
// }

// @media (max-width: 1023px) {
//     #top-link {
//     	display: none;
//     }

//     #top-link a {
// 	    display: none;
//     }
// }

// @media (min-width: 1024px) {
//     #top-link {
//     	cursor: pointer;
//     	display: none;
//     	position: fixed;
//         left: 0;
//         z-index: 1;
//         top: 0;
//     	padding: 0;
//         background: #EFD9ED;
//     }

//     #top-link:hover {
//         background: #EF9DED;
//     }

//     #top-link a {
// 	    display: block;
//         margin-top: 5vh;
//         margin-left: 1vw;
//         color: #808080;
//     }
// }

// /*
// @media (max-width: 767px) {
//     .container {
//         overflow: hidden;
//         display: flex;
//         flex-direction: column;
//         min-height: 100vh;
//     }

//     .header {
//         display: block;
//         justify-content: space-between;
//         width: 100%;
//         height: auto;
//         padding-top: 10px;
//         padding-bottom: 10px;
//         margin: 0 auto;
//         background: #f424f2;
//         color: #000;
//         font-family: 'MuseoSansBold';
//     }

//     .content {
//         display: flex;
//         margin: 2vh auto;
//         background: #ff5500;
//         height: auto;
//         width: 85vw;
//     }

//     .footer {
//         display: flex;
//         justify-content: center;
//         width: 100%;
//         height: auto;
//         margin-top: auto;
//         padding-top: 30px;
//         padding-bottom: 30px;
//         color: #000;
//         font-family: 'MuseoSansBold';
//     }

//     .header__section {
//         display: flex;
//         align-items: center;
//     }

//     .header__item {
//         padding: 10px 15px;
//         font-size: 18px;
//         margin-left: 10px;
//         margin-right: 10px;
//     }

//     a:hover {
//         color: #fff;
//     }

//     .header__logo {
//         font-size: 28px;
//     }

//     .header__logo:hover {
//         cursor: pointer;
//     }

//     .header__button {
//         cursor: pointer;
//     }
// }
// */
